* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  padding-block: 1.5rem;
  padding-left: 2rem;
  background-color: #fff;
  filter: drop-shadow(0px 2.983px 7.456px rgba(0, 0, 0, 0.1));
}

.navbar__logo {
  max-width: 150px;
}

.hero {
  margin-top: 1.62rem;
  padding-inline: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero__image {
  max-width: 1200px;
  width: 100%;
}

.hero__content {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__content__heading {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%; /* 2.475rem */
}

.hero__content__para {
  color: #222;
  font-size: 1rem;
  font-weight: 300;
  line-height: 110%; /* 1.1rem */
}

main {
  padding: 1.125rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.75rem;
  width: 11rem;
}

.card__image {
  object-fit: cover;
  height: 235px;
  flex-shrink: 0;
  width: 100%;
  border-radius: 0.5625rem;
}

.card__stats {
  color: #918e9b;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 110%; /* 0.825rem */
  display: flex;
  align-items: center;
  gap: 0.12rem;
}

.stats-rating {
  color: #222;
}

.card__title,
.card__text {
  font-size: 0.75rem;
  color: #222;
  font-weight: 300;
  line-height: 110%; /* 0.825rem */
}

.text-bold {
  font-weight: 600;
}

@media (min-width: 550px) and (max-width: 768px) {
  .hero__content__heading {
    font-size: 2.25rem;
  }

  .hero__content__para {
    font-size: 1.125rem;
  }
}

@media (min-width: 769px) {
  .hero {
    margin-top: 2.5rem;
    padding-inline: 2.25rem;
  }

  .hero__content__heading {
    font-size: 3rem;
  }

  .hero__content__para {
    font-size: 1.5rem;
  }
}
